package ${_package};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class ${_className} {

    @Test
    void contextLoads(){
    }

}
